.app-view

    >.ui-tool-bar
        position: sticky
        margin-bottom: 1em

    .ui-card
        margin: 1em
        min-height: 2000px


    >.ui-button.variant-floating
        position: fixed
        bottom: 1em
        right: 1em
