@require 'nib'

global-reset();

@require '../dep/melon/dist/css/theme/default'
@require '../dep/melon/dist/css/Dialog.styl'
@require '../dep/melon/dist/css/Button.styl'
@require '../dep/melon/dist/css/Mask.styl'
@require '../dep/melon/dist/css/Link.styl'
@require '../dep/melon/dist/css/TextBox.styl'
@require '../dep/melon/dist/css/Validity.styl'

@require './login/*'

html, body
    height: 100%
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","STHeitiSC-Light","Microsoft YaHei","微软雅黑",Arial,sans-serif;
